<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Plot</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  <style>
    #data-source {
      margin-left: 70px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div id="plot"></div>
  </body>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <script type="text/javascript">
    let view_data = '{{ view_data|tojson }}';
  </script>
  <script src="{{ url_for('static', filename='js/earthquakes.js') }}"></script>

</html>