<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Plot</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  <style>
    #data-source {
      margin-left: 70px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div id="plot"></div>
    <h6 id="data-source">data connected to: {{ view_data.data_source }}</h6>
</body>

<!-- plotly -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- Load local javascript code -->
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

<!-- Convert the data provided from flask (a string) to a json object 
     and assign it to a javascript variable. Now we can use the data
     in our code.
     This is still unclear - are we passing real json or just
     a string that is in json format? It might still be necessary
     in the javascript side to "parse" it as json again! -->
<script type="text/javascript">
  let view_data = '{{ view_data|tojson }}';
</script>

<!-- Call the create charts function from our javascript code -->
<script type="text/javascript">
  createPlot(view_data);
</script>

</html>